@media (max-width: 1024px) {
  .houseContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
    font-family: helvetica;
  }
  .titleHouse {
    padding: 8px 0px 8px 0px;
  }
  .textContainer {
    width: 90%;
  }
  .tableContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: helvetica;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  table {
    background-color: white;
    border: #b2b2b2 1px solid;
    border-collapse: collapse;
    width: 90%;
  }
  td,
  th {
    border: black 1px solid;
    padding: 5px;
  }
}

@media (min-width: 1024px) {
  main {
    height: 70vh;
  }
  .houseContainer {
    display: flex;
    flex-direction: column;
    margin: 15px;
    font-family: helvetica;
    color: white;
  }

  .titleHouse {
    margin-bottom: 10px;
  }

  .tableContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
  }

  table {
    background-color: white;
    border: #b2b2b2 1px solid;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
  }
  td,
  th {
    border: black 1px solid;
    padding: 5px;
  }
}
