table a {
  color: black;
}

@media (max-width: 1024px) {
  .houseContainer {
    display: flex;
    flex-direction: column ;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
    font-family: helvetica;
  }
  .titleHouse {
    padding: 8px 0px 8px 0px;
  }
  .formContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    background-color: #29455a;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px;
  }

  .selectStates {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 7px;
    padding-left: 10px;
  }

  .selector {
    height: 40px;
    width: 120%;
    border-radius: 5px;
    border-style: none;
    font-weight: bold;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 13px;
  }
  .text {
    font-weight: bold;
  }

  fieldset {
    border-style: none;
  }

  .textContainer {
    width: 90%;
  }
  .tableContainer {
    font-family: helvetica;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  table {
    background-color: white;
    border: #b2b2b2 1px solid;
    border-collapse: collapse;
  }
  td,
  th {
    border: black 1px solid;
    padding: 5px;
  }
}

@media (min-width: 1024px) {
  main {
    display: flex;
    flex-direction: column;
    min-height: 72.5vh;
  }
  section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: helvetica;
    margin-top: 15px;
  }

  .houseContainer {
    width: 50%;
  }
  .titleHouse {
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 17px;
    color: white;
  }

  .textContainer {
    margin-left: 30px;
    margin-bottom: 15px;
    color: white;
  }

  .formContainer {
    width: 25%;
  }
  form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 9pc;
    width: 20pc;
    padding: 20px;
    background-color: #29455a;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }

  form:hover {
    background-color: #386364;
    box-shadow: 0 0 15px 0 #386364;
    transform: scale(1.06);
    transition: 0.3s ease-in-out;
  }

  .selectStates {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 7px;
  }

  .selector {
    height: 40px;
    width: 120%;
    border-radius: 5px;
    border-style: none;
    font-weight: bold;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 13px;
  }

  .selector:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 0 white;
    transform: scale(1.04);
    transition: 0.3s ease-in-out;
  }

  #democrat,
  #republican,
  #independent {
    cursor: pointer;
  }

  .text {
    font-weight: bold;
  }

  fieldset {
    border-style: none;
  }

  .tableContainer {
    overflow-y: auto;
    overflow-x: auto;
    height: 20pc;
    width: 95%;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }

  table {
    background-color: white;
    border: #b2b2b2 1px solid;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
}
td,
th {
  padding: 5px;
  border: 0.5px solid #ccc;
}
td {
  font-size: small;
}
thead th {
  font-weight: bold;
}
tbody tr:nth-child(odd) {
  background-color: rgb(235, 236, 237);
}

tbody tr:nth-child(even) {
  background-color: white;
}
