h2 {
  font-family: helvetica;
  padding-top: 9.5px;
}

@media (max-width: 1023px) {
  .partyLoyaltyContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-family: helvetica;
  }

  .partyLoyaltyContainer p {
    width: 90%;
  }
  .tableContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
  }
  .tableContainer h2 {
    width: 80%;
  }
  table {
    width: 90%;
  }
  main {
    display: flex;
    flex-direction: column;
    height: 77pc;
  }
}

@media (min-width: 1024px) {
  section {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  main {
    display: flex;
    flex-direction: column;
    min-height: 113pc;
  }
  .partyLoyaltyContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-family: helvetica;
    color: #fff;
    width: 40%;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .tableContainer {
    width: 40%;
  }
  table {
    width: 100%;
  }
  main {
    height: 72.5vh;
  }
}
table {
  background-color: white;
  border: #b2b2b2 1px solid;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  text-align: center;
  margin-bottom: 17px;
}
td,
th {
  padding: 5px;
  border: 0.5px solid #ccc;
}
td {
  font-size: small;
}
thead th {
  font-weight: bold;
}
tbody tr:nth-child(odd) {
  background-color: rgb(235, 236, 237);
}

tbody tr:nth-child(even) {
  background-color: white;
}
h2 {
  color: #fff;
}
